.container-fluid-contact,
.container-contact {
  background-color: #f5f6f8;
}

.buttonSubmit {
  background: #354050;
}

#col-2 {
  margin-inline: auto;
  margin-top: 15px !important;
  float: left;
  width: 400px !important;
  height: 480px !important;
  padding: 25px;
}

.columnContact {
  border: 1px solid gray;
  border-radius: 10px;
}